.body .no-gutters {
    margin-right: 0;
    margin-left: -15px;
}
.navbar {
    background-color: var(--second-color);
    height: 70px;
    padding-left: 45px;
    width: 91.91%;
}
.about-page {
    background-color: var(--second-color);
}
.internship .text {
    color: var(--dev-color);
}
.question .q h4 {
    color: var(--third-color);
}
.question .answer {
    color: var(--dev-color);
}
.question .q::before {
    color: var(--third-color);
}
.question .answer::before {
    color: #fff;
}
.slider {
    background-color: #fff;
    height: 100vh;
    width: 9%;
    position: fixed;
    z-index: 9999;
}
.body {
     background-color: var(--second-color);
}
.what h2,
.intern h3,
.food h6,

.window h2 {
   color: #fff;
}
.the-role p,
.requirements .list-requirements p,
.list-requirements ul li,
.list-requirements ul li,
.intent p,
.life ul li,
.intern p,
.food p,
.food h2
 {
    color: var(--dev-color);
}
.slider .switch {
    color: var(--third-color);
    font-size: 24px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    display: inline-block;
    position: absolute;
    top: 49%;
    width: 210px;
    left: -40%;
}
.about-page .nav-about .close-about {
  color: var(--third-color);
  float: left;
}
.about-page .nav-about .close-about:hover {
    color: #fff;
}
.body .navbar .logo {
    color: var(--third-color);
    font-size: 20px;
    padding-right: 70px;
}
.body .navbar .logo {
    color: var(--third-color);
    font-size: 20px;
    padding-right: 70px;
}
.navbar {
    background-color: var(--second-color);
    height: 70px;
    padding-left: 150px;
    width: 100%;
}
.tabs {
    display: inline-block;
    float: right;
    position: fixed;
    top: 20%;
    right: 3%;
}
.tabs ul {
    list-style: none;
}
.tabs li a {
    padding: 60px 0 60px 29px;
    border-left: 2px solid var(--main-color);
    margin: 2px 0;
    vertical-align: middle;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    transition: 0.4s all;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -ms-transition: 0.4s all;
    -o-transition: 0.4s all;
    border-right: 1px solid transparent;
}
.tabs li a:focus,
.tabs li a:hover {
   padding: 60px 0 60px 29px;
    border-left: 2px solid var(--third-color);
    margin: 2px 0;
    vertical-align: middle;
    display: block;
    text-decoration: none;
    color: var(--third-color);
    border-right: 1px solid transparent;
}
.tabs ul {
    list-style: none;
    display: inline-block;
    float: right;
}
.about-page .nav-about .logo {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    float: right;
}
.about-page .nav-about .close-about {
    float: left;
    margin-top: 14px;
    display: inline-block;
    color: var(--third-color);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    margin-right: 10px;
    font-size: 19px;
    font-weight: bold;
}
.internship h1 {
    padding: 20px 0;
    font-size: 6rem;
    line-height: 6rem;
    color: var(--third-color);
    font-weight: bold;
    margin: 180px 0;
}
about-page .nav-about .logo {
    text-align: center;
    display: inline-block;
    margin: 6px auto;
    float: right;
}
