@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

:root {
    --main-color: #8b8b8b;
    --second-color: #202020;
    --third-color: #b99458;
}

body {
    font-family: 'Oswald', sans-serif;
}

.overlay {
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.home {
    background-image: url(../img/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.home .text {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    left: 35%;
    text-align: center;
}

.home .text h3 {
    font-size: 15px;
    color: var(--main-color);
    line-height: 25px;
    letter-spacing: 1px;
    padding: 30px 70px;
}

.home .text span {
    display: block;
    color: var(--main-color);
    font-size: 14px;
    padding-top: 50px;
}

.home .text span:hover {
    color: #fff;
    cursor: pointer;
}

.text i {
    color: var(--main-color);
    padding: 0 0 20px;
    animation: animationFrames linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
}

.text i:hover {
    cursor: pointer;
    color: #fff;
}

.home .text .video {
    border: 2px solid var(--third-color);
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    color: var(--third-color);
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
}

.home .text .video:hover {
    background-color: var(--third-color);
    color: #fff;
    cursor: pointer;
}


@keyframes animationFrames {
    0% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(0px, -25px);
    }

    30% {
        transform: translate(0px, 0px);
    }

    45% {
        transform: translate(0px, -15px);
    }

    60% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 75%;
    top: 50%;
    left: 2px;
    margin-top: -1px;
    background-color: var(--third-color);
    border-radius: 5px;
    margin-top: -8px;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
}

.modal-video-close-btn:hover:before,
.modal-video-close-btn:hover:after {
    background: #fff;
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal-video;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: 0px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}

#fullpage .home {
    height: 100vh;
}

/* Slider */
.slide {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.slide .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.slide .content {
    position: relative;
    background-color: #FFFFFF;
    height: 100vh;
}

.slide .content-two {
    background-color: #000000;
    color: #fff;
}

.slide .content .title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 30%;
    top: 20%;
}

.slide .content .title .icon,
.slide .content .title h6 {
    text-align: center;
}

.slide .content .title .icon {
    padding: 20px 0;
    color: var(--third-color);
}

.slide .content .title h1 {
    letter-spacing: 0.3vw;
    font-size: 3rem;
}

.slide .content .title p {
    color: rgb(109, 105, 99);
    font-size: 0.7rem;
}

.slide .link a {
    border: 2px solid var(--third-color);
    padding: 10px 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    color: var(--third-color);
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    text-decoration: none;
}

div:hover:before {
    transform: scaleX(1);
}

.slide .link {
    padding: 90px 0;
}

.slide .link a:hover {
    color: #fff;
    cursor: pointer;
} 
/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
     color: #fff;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--third-color);
    color: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: #fff;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}