@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('../webfonts/Spbldrul.ttf');

:root {
    --main-color: #B2B0AD8b;
    --second-color: #2C2B2B;
    --third-color: #b99458;
    --four-color: #202020;
    --text-color: #6d6963;
}

@font-face {
    font-family: SimplonBold;
    src: url('../webfonts/Spbldrul.ttf');
}


body {
    font-family: 'Oswald', sans-serif;
    /* overflow: hidden; */
    height: 4000px;
}

#fullpage {
    height: 100vh;
    /* overflow: hidden; */
}

.overlay {
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
}

.home {
    background-image: url(../img/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

}

.home .text {
    z-index: 999;
    position: absolute;
    bottom: 10px;
    left: 35%;
    text-align: center;
}

.home .text h3 {
    font-size: 15px;
    color: var(--main-color);
    line-height: 25px;
    letter-spacing: 1px;
    padding: 30px 70px;
}

.home .text span {
    display: block;
    color: var(--main-color);
    font-size: 14px;
    padding-top: 50px;
}

.home .text span:hover {
    color: #fff;
    cursor: pointer;
}

.text i {
    color: var(--main-color);
    padding: 0 0 20px;
    animation: animationFrames linear 0.8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 0.8s;
}

.text i:hover {
    cursor: pointer;
    color: #fff;
}

.home .text .video {
    border: 2px solid var(--third-color);
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    color: var(--third-color);
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
}

.home .text .video:hover {
    background-color: var(--third-color);
    color: #fff;
    cursor: pointer;
}


@keyframes animationFrames {
    0% {
        transform: translate(0px, 0px);
    }

    15% {
        transform: translate(0px, -25px);
    }

    30% {
        transform: translate(0px, 0px);
    }

    45% {
        transform: translate(0px, -15px);
    }

    60% {
        transform: translate(0px, 0px);
    }

    75% {
        transform: translate(0px, -5px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 75%;
    top: 50%;
    left: 2px;
    margin-top: -1px;
    background-color: var(--third-color);
    border-radius: 5px;
    margin-top: -8px;
    transition: 0.6s all;
    -webkit-transition: 0.6s all;
    -moz-transition: 0.6s all;
    -ms-transition: 0.6s all;
    -o-transition: 0.6s all;
}

.modal-video-close-btn:hover:before,
.modal-video-close-btn:hover:after {
    background: #fff;
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.modal-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000000;
    cursor: pointer;
    opacity: 1;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-name: modal-video;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -ms-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.modal-video-close-btn {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: 0px;
    display: inline-block;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
}

#fullpage .home {
    height: 100vh;
}

/* Slider */
.slide {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.slide .container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.slide .content {
    position: relative;
    background-color: #FFFFFF;
    height: 100vh;
}

.slide .content-two {
    background-color: #000000;
    color: #fff;
}

.slide .content .title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 30%;
    top: 20%;
}

.slide .content .title .icon,
.slide .content .title h6 {
    text-align: center;
}

.slide .content .title .icon {
    padding: 20px 0;
    color: var(--third-color);
}

.slide .content .title h1 {
    letter-spacing: 0.3vw;
    font-size: 3rem;
}

.slide .content .title p {
    color: rgb(109, 105, 99);
    font-size: 0.7rem;
}

.slide .link a {
    border: 2px solid var(--third-color);
    padding: 10px 25px;
    font-size: 18px;
    text-transform: uppercase;
    background: transparent;
    color: var(--third-color);
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    text-decoration: none;
}

div:hover:before {
    transform: scaleX(1);
}

.slide .link {
    padding: 90px 0;
}

.slide .link a:hover {
    color: #fff;
    cursor: pointer;
}

/* Sweep To Top */
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #fff;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--third-color);
    color: #fff;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: #fff;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/***************************/
/*****Designer Pages ******/
/*************************/
.navbar {
    background-color: #fff;
    height: 70px;
    padding-left: 45px;
    width: 91.91%;
}

.slider {
    background-color: var(--second-color);
    height: 100vh;
    width: 9%;
    position: fixed;
    z-index: 9999;
}

.body .no-gutters {
    margin-right: -15px;
    margin-left: -15px;
}

.body .navbar .logo,
.body .navbar .name a {
    color: var(--third-color);
    font-size: 20px;
}

.body .navbar .name a {
    font-size: 20px;
}

.body .navbar .about a {
    border: 2px solid var(--third-color);
    padding: 2px 25px;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    color: var(--third-color);
    transition: 0.8s all;
    -webkit-transition: 0.8s all;
    -moz-transition: 0.8s all;
    -ms-transition: 0.8s all;
    -o-transition: 0.8s all;
    text-decoration: none;
}

.body .navbar .about a:hover {
    color: #fff;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
}

.slider .fa-bolt {
    position: absolute;
    left: 42%;
    top: 22%;
    font-size: 30px;
    color: var(--third-color);
}

.slider .switch {
    color: var(--third-color);
    font-size: 24px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    display: inline-block;
    position: absolute;
    top: 45%;
    width: 188px;
    left: -40%;
}

.slider .switch a {
    margin: 0 0;
    text-decoration: none;
    color: var(--third-color);
}

.slider .switch i {
    color: var(--third-color);
    display: block;
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

/***********************/
/* Start content */
/*********************/
.intent {
    padding: 160px 0;
}

.intent h2 {
    font-size: 29px;
    padding: 10px 0 30px;
    color: var(--third-color);
}

.intent p {
    font-size: 20px;
    line-height: 30px;
    color: var(--text-color);
    margin: 20px 0;
}

/* End Intent */
/* Start what */
.what {
    position: relative;
    padding: 50px 0;
}

.what h2 {
    position: absolute;
    top: -20%;
    left: 17%;
    font-size: 10vw;
    line-height: 11vw;
    font-weight: bold
}

/* .what h1 {

    position: absolute;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 7rem;
    left: -41%;
    top: 15%;
    line-height: 7rem;
    font-weight: bold;
    color: var(--third-color);
    letter-spacing: 7px
} */
.what h1 {
    position: absolute;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 8rem;
    left: -52%;
    /* width: 690px; */
    top: 10%;
    line-height: 8rem;
    font-weight: bold;
    color: var(--third-color);
    letter-spacing: 0px;
}

/* End what */
/* Start The-Role */
.the-role {
    padding: 120px 0;
    position: relative;
}

.the-role h3 {
    color: var(--third-color);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    /* width: 100px; */
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;

}

.the-role p {
    font-size: 15px;
    line-height: 35px;
    color: var(--text-color);
    margin: 20px 0;
    padding: 10px 0;
}

.the-role p:first-child::before {
    content: "";
    position: absolute;
    border-top: 5px solid var(--third-color);
    top: 0;
    width: 50px;
}

.the-role .img {
    width: 116%;
    margin-top: 0px;
    height: 90%;
    margin-left: -66px;
}

.the-role .img img {
    width: 100%;
    height: 100%;
}

/* End The-Rloe */
/* Start requirements*/
.requirements {
    padding: 120px 0;
    position: relative;
}

.requirements .img {
    width: 100%;
    height: 100%;
}

/* .requirements .img img {
width: 100%;
height: 100%;
} */
.requirements h3 {
    color: var(--third-color);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    /* width: 100px; */
    text-align: center;
    position: absolute;
    top: 20%;
    left: 60%;
}

.requirements .list-requirements {
    padding: 20px 0;
}

.requirements .list-requirements p {
    font-size: 15px;
    line-height: 35px;
    color: var(--text-color);
    margin: 10px 0;
}

.list-requirements p::before {
    content: "";
    position: absolute;
    border-top: 5px solid var(--third-color);
    top: 0;
    width: 50px;
}

.list-requirements ul {
    list-style: none;
}

.list-requirements ul li {
    padding: 10px 0;
    color: var(--text-color);
}

.list-requirements ul li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: var(--second-color);
    left: 10px;
    margin-top: 12px;
}

/* End requirements */
.life {
    padding: 120px 0;
    position: relative;
}

.life h3 {
    width: 179px;
    color: var(--third-color);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    text-align: center;
    position: absolute;
    top: 20%;
    left: -60%;
}

.life p {
    font-size: 15px;
    line-height: 35px;
    color: var(--text-color);
    margin: 20px 0;
    padding: 10px 0;
}

.life p:first-child::before {
    content: "";
    position: absolute;
    border-top: 5px solid var(--third-color);
    top: 0;
    width: 50px;
}

.life ul {
    list-style: none;
}

.life ul li::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: var(--third-color);
    left: 25px;
    margin-top: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.life ul li {
    padding: 18px 0;
    color: var(--text-color);
}

.life .img {
    width: 116%;
    margin-top: 0px;
    height: 90%;
    margin-left: -66px;
}

.life .img img {
    width: 100%;
    height: 100%;
}

/* End Life */
/*************/
/* tab 2 */
/************/
/* Start intern */
.intern {
    padding: 120px 0;
}

.intern h1 {
    font-size: 10vw;
    color: var(--third-color);
    line-height: 11vw;
}

.intern h3 {
    font-size: 10vw;
    font-weight: bold;
    width: 179px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    text-align: center;
    position: absolute;
    top: 20%;
}

.intern p {
    font-size: 1.5vw;
    line-height: 2vw;
    line-height: 35px;
    color: var(--text-color);
    margin: 60px 0;
    padding: 10px 0;
    text-transform: uppercase;
}

/* End INTERN */
/* STart Meghan */
.meghan {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.meghan .text-content {
    position: absolute;
    left: 70%;
    bottom: 15%;
    width: 730px;
    padding-left: 17%;
    background-color: rgba(185,148,88,0.7);
    z-index: 9999;
    padding-top: 30px;
    padding-top: 30px;
}
.meghan .text-content h1 {
    padding: 10px 0 20px;
    font-size: 7rem;
    line-height: 6rem;
    font-weight: bold;
    color: #fff;
}